.card-movie {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 250px;


  & > img {
    height: auto;
    width: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }


  .card-movie-infos {
    margin: 12px;
    padding: 8px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    background-image: asset-url("ticket1.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: black;

    h2, p {
      text-align: center;
      padding-right: 28px;
      padding-top: 8px;

    }
  }
  i {
    color: rgb(217, 2, 2);
  }
}

.card-list {
  background-size: cover;
  background-position: center;
  width: 280px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px;

  i {
    color: rgb(248, 249, 250);
    font-size: 16px;
  }
}
